.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.text_primary{
    color: #FD6E0A;
}

.text_center{
    text-align: center;
}

.btn_primary{
    background-color: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
}

header{
    background-image: url("../images/developer.png"), url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav_title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

/* Banner Section */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}

.banner_content{
    width: 580px;
}

.banner_greetings{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600px;
}

.banner_title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700px;
}

.banner_pic{
    width: 580px;
}

/* Main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin: 130px 130px;
}


/* About Section */

.about{
    padding: 130px 150px;
    text-align: center;
}

.about_title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700px;
}

.about_description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
}

.about_items{
    display: flex;
    justify-content: space-around;
}

.about_item{
    /* width: 115px; */
}

.item_description{
    font-weight: 600;
    margin-bottom: 0;
}

/* Skills Styles */

.skills_container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Styles */

.resume_container{
    display: flex;
    gap: 24px;
}

.resume_btn{
    margin-top: 20px;
}

/* Footer Styles */

.footer_container{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

.footer_column_description{
    color: rgb(71, 71, 71);
    font-size: 16px;
    margin-bottom: 20px;
}

.footer_icon>a{
    border: 1px dashed black;
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
}

.footer_column{
    width: 50%;
}

.footer_input{
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: beige;
    padding: 10px 20px;
    width: 420px;
}

input, textarea{
    display: block;
}

textarea{
    font-size: 20px;
    padding: 10px 20px;
    width: 420px;
    margin-bottom: 15px;
}

.hide{
    display:none;
}

@media screen and (max-width:576px) {
    .about_items{
        flex-direction: column;
    }


    .skills_container{
        flex-direction: column;
    }
    .resume_container{
        flex-direction: column;
    }
    .footer_container{
        flex-direction: column;
        padding: 20px;
    }
    .footer_column{
        width: 100%;
    }
    .skill, .about{
        padding: 5px;
    }
    .skills, .resume, footer, .about{
        margin: 50px;
    }
    .footer_input, textarea{
        margin: 0;
        width: calc(100% - 70px);
    }
}